<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:name=".utilities.Nlm"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nlm"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.Artificial_Insemination_List"
            android:exported="false" />
        <activity
            android:name=".ui.activity.Artificial_Insemination"
            android:exported="false" />
        <activity
            android:name=".ui.activity.StateSemenBank"
            android:exported="false" />
        <activity
            android:name=".ui.activity.StateSemenBankList"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RSPLab"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RspLabSemen"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddNlmAssistanceForQFSPActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.NlmAssistanceForQFSPActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddNewFspPlantStorageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.NlmFspPlantStorageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddNlmFpForestLandActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.NlmFpForestLandActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddNewAssistanceForEaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.NlmAssistanceForEa"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddNlmEdpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.NlmEdpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AscadActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.VaccinationProgrammerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ViewStateMobileVeterinaryUnit"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddNewMobileVeterinaryUnit"
            android:exported="false" />
        <activity
            android:name=".ui.activity.StateMobileVeterinaryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MobileVeterinaryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddImplementingAgency"
            android:exported="false" />
        <activity
            android:name=".ui.activity.NodalOfficerDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ImplementingAgencyMasterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.NLSIAForm"
            android:exported="false" />
        <activity
            android:name=".ui.activity.National_Live_Stock_IA"
            android:exported="false" />
        <activity
            android:name=".ui.activity.UserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddMilkUnionVisit"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DairyPlantVisitNDDActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddDairyPlantVisit"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddDCSCenterVisit"
            android:exported="false" />
        <activity
            android:name=".ui.activity.StateCenterLabVisitNDDActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BreedMultiplicationRGMActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddBreedMultiplication"
            android:exported="false" />
        <activity
            android:name=".ui.activity.TrainingCentersRGMActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddTrainingCenters"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MilkProcessingNDDActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MilkProductMarketingNDDActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ProductivityEnhancementServicesNDDActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddProductivityEnhancementServices"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddStateCenterLabtVisit"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddMilkProcessing"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddMilkProductMarketing"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DCSCenterVisitNDDActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SearchingForAChildActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.EditProfile"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".download_manager.DownloadCompletedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MilkUnionVisitNDDActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>